*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
    
}

.navbar__menus:hover{
    cursor: pointer;
    color: white;
}

.navbar{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.navbar__menus{
    display: inline;
    color: gray;
}

.box{
    border:2px solid black;
    width:300px;
    display: inline-block;

}

img{
    width: 300px;
    height: 500px;
}

.box__items{
    text-align: center;
    margin-top: 10px;
}

.box-desc{
    text-align: center;
    padding: 5px;
}

.box__button{
    background-color: black;
    color: white;
    padding: 4px;
    margin: 3px;
    border: none;
    border: 2px solid green
}

.box:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    
}

.footer{
    background-color: black;
    color: white;
    margin-top: 5px;
    text-align: center;
    padding: 10px;
}

table{
    display: inline-block;
    padding: 4px;
}

input{
    padding: 5px;
    margin: 5px;
}

.footer__button{
    background-color: yellow;
    width: 30%;
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
}

.footer__button:hover{
    background-color: cyan;
    color: white;
    font-weight: bolder;
}